
.hostess-edw-login-wrapper{
    background-color: #000;
    overflow: hidden;
}

.hostess-edw-login-container {
    min-height: 100vh;
}

input {
    background-color: #000;
    border: 2px solid #d6b770;
    color: #d6b770;
}

#event {
    margin-bottom: 2rem;
}

#login-btn{
    margin-bottom: 3rem;
}